<div class="utterance-light" id="comment_light">
    <script src="https://utteranc.es/client.js"
        repo="junia3/comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>

<div class="utterance-dark" id="comment_dark">
    <script src="https://utteranc.es/client.js"
        repo="junia3/comments"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
    </script>
</div>